name: CI Docker

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string

jobs:
  ci-docker:
    permissions:
      contents: 'read'
      id-token: 'write'
      pull-requests: write
    runs-on: ubuntu-latest
    # if: github.event.review.state != 'approved'
    steps:
      - uses: actions/checkout@v4
      - name: Download ${{ inputs.app_name }} Jar
        uses: dawidd6/action-download-artifact@v2.28.0
        with:
          pr: ${{ github.event.pull_request.number }}
          workflow: ci.yml
          name: ${{ github.event.pull_request.number }}-app-jar
          path: build/libs
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: ${{ inputs.app_name }}:latest
          outputs: type=docker,dest=/tmp/appimage.tar
      - name: Upload ${{ inputs.app_name }} Image
        uses: actions/upload-artifact@v3
        with:
          name: ${{ inputs.app_name }}
          path: /tmp/appimage.tar

