name: CI Insights

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string

jobs:
  ci-gradle:
    permissions:
      contents: 'read'
      id-token: 'write'
      pull-requests: write
    runs-on: ubuntu-latest
    # if: github.event.review.state != 'approved'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-tags: true
      - name: Get diff
        id: pr-diff
        shell: bash
        env:
          RELEASE: current-${{ inputs.environment }}
        run: |
          GIT_DIFF=$(git diff $RELEASE)
          echo "GIT_DIFF=$GIT_DIFF" >> $GITHUB_OUTPUT
      - name: Comment Diff
        id: comment-diff
        uses: peter-evans/create-or-update-comment@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.number }}
          body: |
            diff from ${{ github.event.number }} to ${{ matrix.environment }}:
            ```git
            ${{ steps.pr-diff.outputs.GIT_DIFF}}
            ```
