name: Manual Helm deploy

on:
  workflow_call:
    inputs:
      release_name:
        description: "The release name"
        required: true
        type: string
      namespace:
        description: "The namespace to use"
        required: true
        type: string
      image_tag:
        description: "The image tag to deploy"
        required: true
        type: string
      environment:
        description: "The target environment"
        required: true
        type: string

jobs:
  manual-helm-deploy:
    name: Manual Helm deploy
    environment: ${{ inputs.environment }}
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - id: auth
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: ${{ secrets[format('{0}_PROVIDER_NAME', inputs.environment)] }}
          service_account: ${{ secrets[format('{0}_SA_EMAIL', inputs.environment)] }}
      - id: get-credentials
        uses: google-github-actions/get-gke-credentials@v1
        with:
          project_id: ${{ secrets[format('{0}_CLUSTER_PROJECT_ID', inputs.environment)] }}
          cluster_name: ${{ secrets[format('{0}_CLUSTER_NAME', inputs.environment)] }}
          location: ${{ secrets[format('{0}_CLUSTER_LOCATION', inputs.environment)] }}
      - name: Helm deploy
        uses: entur/tmp-github-actions-2/.github/actions/helm-deploy@master
        with:
          release_name: ${{ inputs.release_name }}
          namespace: ${{ inputs.namespace }}
          image_tag: ${{ inputs.image_tag }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          environment: ${{ inputs.environment }}
      - name: Notify Slack
        id: slack
        if: always()
        uses: entur/tmp-github-actions-2/.github/actions/slack-message@master
        with:
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}
          heading: "Deploy status: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
          message: "<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|View details>"
