name: Terraform apply

on:
  workflow_call:
    paths: ['terraform/**']
    inputs:
      environment:
        required: true
        type: string
        default: dev
      tf_version:
        required: false
        type: string
        default: 1.1.0

jobs:

  terraform-apply:
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    name: Run Terraform apply
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged == true

    environment: ${{ inputs.environment }}

    steps:
      - uses: actions/checkout@v3

      - name: Terraform Apply
        uses: entur/tmp-github-actions-2/.github/actions/tf-apply@master
        with:
          tf_directory: "terraform"
          tf_version: ${{ inputs.tf_version }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_id: ${{ github.event.pull_request.number }}
          environment: ${{ inputs.environment }}
          provider_name: ${{ secrets.PROVIDER_NAME }}
          sa_email: ${{ secrets.SA_EMAIL }}
          cluster_project_id: ${{ secrets.CLUSTER_PROJECT_ID }}
          cluster_name: ${{ secrets.CLUSTER_NAME }}
          cluster_location: ${{ secrets.CLUSTER_LOCATION }}
