name: Terraform apply

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
        default: dev
      tf_version:
        required: false
        type: string
        default: 1.1.0

jobs:
  paths_filter:
    permissions:
      pull-requests: 'read'
    runs-on: ubuntu-latest
    outputs:
      terraform: ${{ steps.filter.outputs.terraform }}
    steps:
    - uses: actions/checkout@v2
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          terraform:
            - 'terraform/**'
  terraform-apply:
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    name: Run Terraform apply
    needs: paths_filter
    if: ${{ github.event.pull_request.merged == true && needs.paths_filter.outputs.terraform == 'true' }}
    runs-on: ubuntu-latest
    env:
      TF_WORKSPACE: ${{ inputs.environment }}
    environment: ${{ inputs.environment }}

    steps:
      - uses: actions/checkout@v3

      - name: Terraform Apply
        uses: entur/tmp-github-actions-2/.github/actions/tf-apply@master
        with:
          tf_directory: "terraform"
          tf_version: ${{ inputs.tf_version }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_id: ${{ github.event.pull_request.number }}
          environment: ${{ inputs.environment }}
          provider_name: ${{ secrets[format('{0}_PROVIDER_NAME', inputs.environment)] }}
          sa_email: ${{ secrets[format('{0}_SA_EMAIL', inputs.environment)] }}
          cluster_project_id: ${{ secrets[format('{0}_CLUSTER_PROJECT_ID', inputs.environment)] }}
          cluster_name: ${{ secrets[format('{0}_CLUSTER_NAME', inputs.environment)] }}
          cluster_location: ${{ secrets[format('{0}_CLUSTER_LOCATION', inputs.environment)] }}
